body {
    font-family: Tahoma, serif;
    background-color: #d8d8d8;
}

h1 {
    font-size: 26px;
}

.silencer_start {
    width: 234px;
    margin: 0 auto 0 auto;
}

.silencer_header {
    margin: 85px 0 40px 0;
}

input[name=video], input[name=subs], input[name=audio] {
    font-size: 14px;
    height: 28px;
    width: 230px;
    margin-bottom: 20px;
}

.silencer_send_button_line {
    position: relative;
}

input[type=submit] {
    position: absolute;
    right: 0;
}

.silencer_work {
    margin: 100px auto 20px auto;
    width: 390px;
}

#return_link_wrapper {
    position: absolute;
    top: 30px;
    right: 30px;
}