body {
    font-family: Arial, sans-serif;
}

.tvprogheader {
    font-size: 1.4em;
    padding: 5px;
}

.header {
    height: 50px;
}

.main {
    min-width: 400px;
}

.left, .center, .right {
    display: inline-block;
}

.left, .right {
    width: 6%;
}

.center {
    width: 86%;
    border: 1px solid lightgrey;
}

.dayname {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
}

.channelogo {
    display: inline-block;
}

.channelname {
    display: inline-block;
}

.channelheader {
    padding: 5px;
    margin: 5px;
}

.starttime {
    display: inline-block;
    vertical-align: top;
}

.progname {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.channelcontent {
    display: inline-block;
    vertical-align: top;
}