body { font-family: Georgia, serif; }

.main {
    max-width: 1000px;
    margin: 0 auto;
}

.big_first_article_letter {
    display: inline-block; 
    font-size: 40px; 
    font-weight: 600; 
    margin-top: -19px;
} 

.background_picture {
    width: 100%; 
    height: 80vh; 
    background-size: cover;
    background-position: center;
}

.pic1 {
    background-image: url(../img/Unknown-6.jpeg);
}
.pic2 {
    background-image: url(../img/Unknown-9.jpeg);
}
.pic3 {
    background-image: url(../img/Unknown-16.jpeg);
}

.txt {
    text-align: center;
    color: white;
}

.name {
    padding-top: 39vh; /* исправить */
    font-size: 69px;
    font-weight: 600;
    letter-spacing: 16px; /* исправить */
}

.subname {
    font-size: 17px;
    font-weight: 500;
    padding-top: 4vh; /* исправить */
    letter-spacing: 6px;  /* исправить */
}

.story_source, .authors {
    font-size: 0.7em;  /* исправить */
    line-height: 1.5;  /* исправить */
}

.story_source {
    margin-top: 19vh; /* исправить */
}

.content {
    margin: 8vh 40px 10vh 40px;
    font-size: 13px;  /* исправить */
    line-height: 26px;  /* исправить */
    position: relative;
}

.leftcol {
    width: 55%;
    max-width: 600px;
}

.rcontent {
    width: 35%;
    max-width: 400px;
    font-weight: 600;
    text-align: justify;
    margin-left: 7.5%;
    border-left: 4px solid #F0EFEA;
    padding-left: 1.5%;    
    position: absolute;
}
.rcontent.upper {
    top: 0;
    right: 0;
}
.rcontent.lower {
    bottom: 0;
    right: 0;
}
.rcontent.images {
    border-left: none;
}

.img {
    width: 100%; 
    height: 231px; 
    background-repeat: no-repeat; 
    background-size: contain;
}
.img1 {
    background-image: url(../img/Unknown-8.jpeg);
}
.img2 {
    background-image: url(../img/Unknown-15.jpeg);
}

.small {
   font-size: 0.9em;  /* исправить */
   line-height: 1.7;  /* исправить */
   font-weight: 400;
}

@media (min-width: 481px) and (max-width: 768px) {
    .content {
       margin: 8vh 0 10vh 0;
       position: static;
    }
    .rcontent {        
        position: static;
        margin: 5vh auto; /* исправить */
        width: 50%;
        min-width: 260px;
    }
    .leftcol {
        position: static;
        margin: 0 auto 5vh auto;
        width: 80%;
    }
    .img {
        width: 100%;
        margin-bottom: 2.5vh; /* исправить */
        background-size: 100% 100%;
        height: 30vw;  /* исправить */
    }
}

@media (max-width: 480px) {
   .name {
       padding-top: 31vh; /* исправить */
   }
   .story_source {
       margin-top: 19vh; /* исправить */
   }
   .background_picture {
       background-size: 100% 100%;
   }
   .content {
       margin: 8vh 0 10vh 0;
       position: static;
   }

   .rcontent {        
        position: static; 
        margin: 5vh 10vw; /* исправить */
        width: 77.5vw;
    }
    .leftcol {
        position: static;
        margin: 0 5vw 5vh 5vw; /* исправить */
        width: 90vw;
    }
    .img {
        width: 100vw;
        margin-bottom: 2.5vh; /* исправить */
        background-size: 100% 100%;
        height: 66vw; /* ? исправить ? */
    }
    .images.rcontent {
        margin: 5vh 0; /* ?? */
        width: 100vw;
        padding-left: 0;
    }
}